body 
{
    background-color: #171717 !important;
    color: darkgray !important;
    padding: 10px;
}

h1 
{
    color: turquoise;
}

.form-control 
{
    background-color: #171717;
}

.center 
{
    padding-top: 10%;
    margin: auto;
    padding: 10px;
}

.btn-outline-info 
{
    --bs-btn-border-color: #40e0d0 !important;
    --bs-btn-color: darkgray !important;
    --bs-btn-hover-bg: turquoise !important;
    --bs-btn-hover-color: #171717 !important;
}