<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Server</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/addServer.css}" />
</head>
<body>
    <div class="center">
        <main class="form-signin w-auto m-auto">
            <div class="form-floating">
                <h1>Add Server</h1>
                <form th:action="@{'/servers/submit'}">

                    <div class="mb-2">
                        <label class="form-label required">Server Name</label>
                        <input type="text" class="form-control" th:value="${server.server_name}" name="server_name">
                    </div>
                    <div class="mb-2">
                        <label class="form-label required">Server Location</label>
                        <input type="text" class="form-control" th:value="${server.server_location}"  name="server_location">
                    </div>
                    <div class="mb-2">
                        <label class="form-label required">Server IP</label>
                        <input type="text" class="form-control" th:value="${server.server_ip}"  name="server_ip">
                    </div>
                    <div class="mb-2">
                        <label class="form-label required">Serial Number</label>
                        <input type="text" class="form-control" th:value="${server.serial_number}"  name="serial_number">
                    </div>
                    <div class="mb-2">
                        <label class="form-label required">Server Type</label>
                        <input type="text" class="form-control" th:value="${server.server_type}"  name="server_type">
                    </div>
                    <div class="mb-2">
                        <!-- <label class="form-label required">Is Host</label> -->
                        <input type="hidden" class="form-control" value="1"  name="is_host">
                    </div>
                    <div class="mb-2">
                        <input type="hidden" class="form-control" value="1"  name="id">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-info">Add</button>
                    </div>
                </form>
            </div>
        </main>
        
    </div>
</body>
</html>