<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Servers</title>
    <link rel="icon" href="" type="" />
    <script src="javascript/index.js"></script>
    <link th:src="@{/css/main.js}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/servers.css}" />
  
</head>

<body>
  <div class="mb-4 float-container">
    <div align="left" class="float-child">
      <img th:src="@{/img/labtoollogo.png}" alt="" width="350">
    </div>
    <div align="right" class="mb-4 float-child">
      <div>
        <!-- There is no user register/login/checker functions yet. This is place holder -->
        <h4>Welcome, Kenan</h4>
      </div>
      <div> 
        <button type="button" class="btn btn-outline-info"><a onclick="addServer()"> Add Server </a></button>

        <!-- these buttons has functions in backend (logout has not yet) but tamplate page hasn't created yet and mapping hasn't done complately -->
        <button type="button" class="btn btn-outline-info"><a th:href="@{/servers/update}"> Edit Server </a></button>
        <button type="button" class="btn btn-outline-info"><a th:href="@{/servers/delete}"> Delete Server </a></button>
        <button type="button" class="btn btn-outline-info"><a th:href="@{/servers/delete}"> Edit Reservation </a></button>
        <button type="button" class="btn btn-outline-danger"><a onclick="logOut()" > Logout </a></button>
        </div>  
    </div>
    
  </div>
  
  <h2 class="mb-4" >Servers</h2>
  <div class="card">
      <div class="table-responsive text-nowrap">
          <table class="table table-hover" id="authorTable">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Server Name</th>
                    <th>Server Location</th>
                    <th>Server IP</th>
                    <th>Serial Number</th>
                    <th>Book Now</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0" th:each="server : ${servers}" th:remove="tag">
                <tr >
                    <td><strong th:text="${server.id}"></strong></td>
                    <td><strong th:text="${server.server_name}"></strong</td>
                    <td><strong th:text="${server.server_location}"></strong></td>
                    <td><strong th:text="${server.server_ip}"></strong></td>
                    <td><strong th:text="${server.serial_number}"></strong></td>
                    <td>
                      <input type="button" class="btn btn-outline-info" value="Book" th:data-parameter1="${server.id}"  th:data-parameter2="${server.server_name}"  th:onclick="openWin(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))" />
                    </td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</body>
  <script>
      function openWin(server_id, server_name) 
      {
        window.open(`http://localhost:9090/reservations/create?server_id=${server_id}&server_name=${server_name}`, "myWindow", "status = 1, height = 550, width = 300, resizable = 0");
      }

      function addServer()
      {
        window.open("http://localhost:9090/servers/add", "myWindow", "status = 1, height = 550, width = 300, resizable = 0");
      }

      function logOut()
      {
        window.open("http://localhost:9090/");
      }
  </script>
</html>