<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="icon" href="" type="" />
    <script src="javascript/index.js"></script>
    <link th:src="@{/css/main.js}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/servers.css}" />

</head>

<body>

</body>
<script>
    function addUser()
    {
        window.open("http://localhost:9090/users/add", "myWindow", "status = 1, height = 550, width = 300, resizable = 0");
    }

    function logOut()
    {
        window.open("http://localhost:9090/");
    }
</script>
</html>